<div>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Time Management System</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li *ngIf="isAnonymous">
                            <a [routerLink]="['login']">Login</a>
                        </li>
                        <li *ngIf="isAnonymous">
                            <a [routerLink]="['register']">Register</a>
                        </li>
                        <li *ngIf="isUserManager || isAdministrator">
                            <a [routerLink]="['users/list']">Users</a>
                        </li>
                        <li *ngIf="isRegular || isAdministrator">
                            <a [routerLink]="['time-records/list']">Time records</a>
                        </li>
                        <li *ngIf="isRegular">
                            <a [routerLink]="['users/edit', {login: user}]">My profile</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a (click)="logOut()">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <router-outlet></router-outlet>
    </main>
    <footer></footer>
</div>