<div>
    <div class="btn-toolbar pull-right">
        <button class="btn btn-sm btn-primary" (click)="addUser()">Add user</button>
    </div>
    <h2>Users</h2>
    <table class="table table-hover table-striped table-sortable">
        <thead>
            <tr>
                <th *ngFor="let column of columns" (click)="changeSorting(column.variable)">
                    {{column.display}}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td *ngFor="let column of columns">
                    {{user[column.variable]}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editUser(user)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="deleteUser(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>