<form class="form-user" (submit)="saveMethod(userForm)" [formGroup]="userForm">
    <h2 class="form-user-heading">{{saveMethodName}} user</h2>
    <div class="row">
        <div *ngIf="isAdministrator" class="form-input col-xs-12">
            <label for="login">Login:</label>
            <input type="text" formControlName="Login" id="login" /><br />
        </div>
        <div *ngIf="isAddingMode" class="form-input col-xs-12">
            <label for="oldPassword">Old password:</label>
            <input type="password" formControlName="OldPassword" id="oldPassword" /><br />
        </div>
        <div class="form-input col-xs-12">
            <label for="password">Password:</label>
            <input type="password" formControlName="Password" id="password" /><br />
        </div>
        <div class="form-input col-xs-12">
            <label for="passwordRepeat">Password repeat:</label>
            <input type="password" formControlName="PasswordRepeat" id="passwordRepeat" /><br />
        </div>
        <div *ngIf="isAdministrator" class="form-input col-xs-12">
            <label for="permissionLevel">PermissionLevel:</label>
            <select id="permissionLevel" formControlName="PermissionLevel">
                <option *ngFor="let key of permissionLevelKeys" [value]="key" [label]="permissionLevels[key]"></option>
            </select>
        </div>
        <div class="form-input col-xs-12">
            <label for="preferredWorkingHourPerDay">PreferredWorkingHourPerDay:</label>
            <input type="text" formControlName="PreferredWorkingHourPerDay" id="preferredWorkingHourPerDay" /><br />
        </div>
        <div class="form-input pull-right">
            <input type="submit" class="btn btn-lg btn-primary" value="{{saveMethodName}}" />
        </div>
    </div>
</form>