<form class="form-user" ng-submit="vm.saveMethod()">
    <h2 class="form-user-heading">{{vm.saveMethodName}} user</h2>
    <div class="row">
        <div ng-show="vm.isAdministrator" class="form-input col-xs-12">
            <label for="login">Login:</label>
            <input type="text" ng-model="vm.user.Login" id="login" /><br />
        </div>
        <div ng-hide="vm.isAddingMode" class="form-input col-xs-12">
            <label for="oldPassword">Old password:</label>
            <input type="password" ng-model="vm.user.OldPassword" id="oldPassword" /><br />
        </div>
        <div class="form-input col-xs-12">
            <label for="password">Password:</label>
            <input type="password" ng-model="vm.user.Password" id="password" /><br />
        </div>
        <div class="form-input col-xs-12">
            <label for="passwordRepeat">Password repeat:</label>
            <input type="password" ng-model="vm.passwordRepeat" id="passwordRepeat" /><br />
        </div>
        <div ng-show="vm.isAdministrator" class="form-input col-xs-12">
            <label for="permissionLevel">PermissionLevel:</label>
            <select id="permissionLevel" ng-options="item as item.name for item in vm.permissionLevels track by item.value" ng-model="vm.selectedPermissionLevel"></select><br />
        </div>
        <div class="form-input col-xs-12">
            <label for="preferredWorkingHourPerDay">PreferredWorkingHourPerDay:</label>
            <input type="text" ng-model="vm.user.PreferredWorkingHourPerDay" id="preferredWorkingHourPerDay" /><br />
        </div>
        <div class="form-input pull-right">
            <input type="submit" class="btn btn-lg btn-primary" value="{{vm.saveMethodName}}" />
        </div>
    </div>
</form>